*{
    margin: 0;
    padding: 0;
    font-family: calibri;
}
.bckgd{
    background-image: url("../images/dark.jpg");
width: 100%;
background-position: center;
background-size: cover;
height: 100vh;
}
.images{
    width: 70px ;
    margin-top:-10px;
    

}
.main{
    display: flex;
    padding-left: 30px;
}
.navbar{
   display: flex;
   justify-content: space-between;
   padding-top: 50px;
   margin: 0 20px 100px 0;
}
a{
    text-decoration: none;
    padding: 10px;
    color: beige;
    font-family:Arial, Helvetica, sans-serif ;
    text-transform: uppercase; 

}
.navbar a:hover{
    color: #cf1111;
}

.links{
    padding-right: 30px;
}
.btn-talk{
    padding: 8px 35px;
    color: white;
    background: #1b86eb;
    border-radius: 10px;
    transition: 2s ease;
    border-color:2px solid beige;
   
}
.btn-talk:hover{
    color: rgb(245, 255, 240);
    background: transparent;
   
}
h2{
    color: #1b86eb;
    font-family: Arial, Helvetica, sans-serif;
    margin-left:8px;
    margin-top: 15px;
    text-transform: uppercase;
}
h2 span{
    font-family: Arial, Helvetica, sans-serif;
    color: aliceblue;
}
.content{
    width: 80%;
    margin:auto;
    text-align: left;
    color: #110101;
    font-family: Arial, Helvetica, sans-serif;
}
.content h1{
    text-transform: uppercase;
    font-size: 30px;
    margin-bottom: 20px;
    color: antiquewhite;
}
h1 span{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(216, 23, 23);
}
.content p{
    color: aliceblue;
    font-size: 20px;
    margin-bottom: 20px;
}

.content button{
    width: 15%;
    border-radius: 100px;
    border: none;
    height:30px ;
}
